################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Ado.net/.vs/Ado.net/v16
/Ado.net/Ado.net/obj/Debug
/Ado.net/Ado.net/Properties
/AdvancedNet/.vs/AdvancedNet/v16
/AdvancedNet/Advanced.Sql/bin/Debug/netcoreapp3.1
/AdvancedNet/Advanced.Sql/obj
/AdvancedNet/AdvancedNet/bin/Debug/netcoreapp3.1
/AdvancedNet/AdvancedNet/obj
/AdvancedNet/GenericFramework/obj
/AdvancedNet/AdvancedLibraies.DAL/obj
/AdvancedNet/AdvancedLibraies.IDAL/obj
/AdvancedNet/AdvancedLibraies.Model/obj
/AdvancedNet/AdvancedLibraries.Factory/obj
/AdvancedNet/AutoMapModel/obj
