################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Ado.net/.vs/Ado.net/v16
/Ado.net/Ado.net/obj/Debug
/Ado.net/Ado.net/Properties
/AdvancedNet/.vs/AdvancedNet/v16
/AdvancedNet/Advanced.Sql/bin/Debug/netcoreapp3.1
/AdvancedNet/Advanced.Sql/obj
/AdvancedNet/AdvancedNet/bin/Debug/netcoreapp3.1
/AdvancedNet/AdvancedNet/obj
/AdvancedNet/GenericFramework/obj
/AdvancedNet/AdvancedLibraies.DAL/obj
/AdvancedNet/AdvancedLibraies.IDAL/obj
/AdvancedNet/AdvancedLibraies.Model/obj
/AdvancedNet/AdvancedLibraries.Factory/obj
/AdvancedNet/AutoMapModel/obj
/AdvancedNet/.vs/AdvancedNet/DesignTimeBuild
/AdvancedNet/Advanced.Framework/bin/Debug/netcoreapp3.1
/AdvancedNet/Advanced.Framework/obj
/AdvancedNet/AdvancedLibraies.DAL/bin/Debug/netcoreapp3.1
/AdvancedNet/AdvancedLibraies.IDAL/bin/Debug/netcoreapp3.1
/AdvancedNet/AdvancedLibraies.Model/bin/Debug/netcoreapp3.1
/AdvancedNet/AdvancedLibraries.Factory/bin/Debug/netcoreapp3.1
/AdvancedNet/AutoMapModel/bin/Debug/netcoreapp3.1
/Advanced.NetFrame.WebAPI/.vs/Advanced.NetFrame.WebAPI
/Advanced.NetFrame.WebAPI/Advanced.Framework.IInterfaces/obj/Debug
/Advanced.NetFrame.WebAPI/Advanced.Framework.Services/obj/Debug
/Advanced.NetFrame.WebAPI/Advanced.NetFrame.WebAPI/bin
/Advanced.NetFrame.WebAPI/Advanced.NetFrame.WebAPI/obj/Debug
/Advanced.NetFrame.WebAPI/Advanced.Framework.Services/bin/Debug
/Advanced.NetFrame.WebAPI/packages
/AdvancedNet/Advanced.WebAPI/bin/Debug/netcoreapp3.1
/AdvancedNet/Advanced.WebAPI/obj
/Advanced.NetFrame.WebAPI/Advanced,NetFramework.Intefaces/obj/Debug
/Advanced.NetFrame.WebAPI/Advanced.Framework.IInterfaces/bin/Debug
